header {
  width: 100%;
  height: 7vh;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 200;

  nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin-left: 80px;
      letter-spacing: 1px;
      font-size: 28px;
      font-weight: 600;
    }

    .nav-links-container {
      display: flex;
      height: 100%;
      margin-left: 20px;

      .nav-link {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 25px;
        color: inherit;
        cursor: pointer;

        img {
          margin-left: 8px;
        }
      }
      
    }

    .sales-btn {
      margin: 0 40px;
    } 
    .sales-btn:hover {
      background: #FCA354;
    }
    
    .burger__menu {
      display: none;
      outline: none;
      padding: 0;
      background: none;
      justify-content: center;
      align-items: center;
      img {
        width: 24px;
      }
    }
    .menu__container {
      display: none;
      position: absolute;
      width: 100%;
      height: 93vh;
      top: 7vh;
      right: 0;
      background: white;
      z-index: 100; 
      font-size: 14px;
      .burger__item {
        width: 100%;
        height: 56px;
        padding: 0;
        text-align: left;
        text-indent: 20px;
        outline: none;
        color: $spaceCadet;
        font-weight: 500;
      }
      .d-arrows {
        width: 10px;
        margin-right: 20px;
        transition: 0.5s ease;
      }
      .lvl1 {
        background: white;
        border-bottom: 1px solid #EAEFF2;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .lvl1:first-child {
        border-top: 1px solid #EAEFF2;
      }
      .lvl1:focus {
        background: #F6F8FA;
      }
      .lvl1:hover {
        img {
          transform: rotate(180deg);
        }
      }
      .lvl1-drop {
        display: none;  
        width: 100%;
        height: auto;
        .lvl2 {
          background: white;
          text-indent: 40px;
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .lvl2:hover {
          img {
            transform: rotate(180deg);
          }
        }
        .lvl2-drop {
          display: none !important;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          .lvl3 {
            display: flex;
            align-items: center;
            font-size: 12px;
            text-indent: 40px;
            .lvl3__icon {
              width: 22px;
              height: 22px;
              margin-left: 40px;
              margin-right: 20px;
            }
          }    
        }
        .lvl2-drop-active {
          display: block !important;
        }
      }
      .lvl1-drop-active {
        display: block;
      }
    }
    .menu__container-active {
      display: block;
    }
  }
}
// Header On scroll
.header-scrolled {
  background: $white;
  box-shadow: 0 1px 8px $slateGrey;
}
.nav-white {
  background: white;
}

// DROPDOWN MENU
.dropdown-menu {
  display: none;
  position: absolute;
  top: 42px;
  left: -10px;

  .dropdown-content {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 97%;
    margin-top: 10px;
    -webkit-clip-path: polygon(0% 10px, 40px 10px, 50px 0px, 60px 10px, 100% 10px, 100% 100%, 0% 100%);
    clip-path: polygon(0% 10px, 40px 10px, 50px 0px, 60px 10px, 100% 10px, 100% 100%, 0% 100%);

    .dc-sections {
      width: 100%;
      height: 97%;
      display: grid;
      grid-template-columns: 77% 33%;
      //CAPABILITIES COLUMN
      .c-column {
        display: grid;
        grid-template-rows: 1fr 4fr;

        h4 {
          margin: 24px 0 0 24px;
        }
        .c-inner {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;
          height: 100%;

          .col {
            display: flex;
            flex-direction: column;
            a {
              margin: 16px 0;
              display: flex;
              align-items: center;
              
              .i {
                width: 26px;
                height: 26px;
                margin: 0;
                margin-right: 12px;
              }
            }
          }
          .col:first-child {
            a {
              margin-left: 24px;
            }
          }
        }
      }

      //INDUSTRIES COLUMN
      .i-column {
        display: flex;
        flex-direction: column;

        a, h4 {
          margin: 12px 40px;  
        }
        
        h4 {
          margin-top: 24px;
        }
      }
    }
  }
}



.dropdown-menu-capabilities {
  width: 760px;
  height: 280px;
}

@media (max-width: 1000px) {
  nav {
    .logo {
      margin-left: 30px !important;
      font-size: 24px !important;
    }
    .nav-links-container {
      display: none !important;
    }
    .sales-btn {
      margin-right: 20px !important;
      margin-left: auto !important;
    }  
    .burger__menu {
      margin: auto 20px auto 10px !important;
      display: flex !important;
    } 
  } 
}

@media (max-width: 415px) {
  nav {
    .logo {
      margin-left: 20px !important;
      font-size: 20px !important;
    }
    .sales-btn {
     margin-left: auto !important;
      font-size: 12px !important;
      padding: 8px 10px !important;
    } 
    .burger__menu {
      margin-left: 0px !important;
    } 
  } 
}