// ***************
// Color Variables
//****************

// Blues
$primary: #F6F8FA;
$secondary: #F6F8FA;
$blueSapphire: #0A5375;
$spaceCadet: #32325D; // Used for Logo , nav-links, Headlines, Bold text
$queenBlue: #5C6E88; // sub text , p 
$oxfordBlue: #031634;

// Neutrals
$white: #FFFFFF;
$slateGrey:rgba(119,136,153,0.2); //  Used for Shadows



// ***************
// Font Sizes
//****************
$bigText: 28px;
$normalText: 16px;
$subText: 14px;