@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Montserrat;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  padding: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

header {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

nav .nav-link:hover .dropdown-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav .nav-link:hover .dropdown-menu {
  display: block;
}

nav .dropdown-arrow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sales-btn {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.title > .cursor {
  -webkit-animation: blink 0.8s steps(4, end) infinite;
          animation: blink 0.8s steps(4, end) infinite;
}

@-webkit-keyframes blink {
  from {
    border-right: 0.2rem solid #32325D;
  }
  to {
    border-right: 0.2rem solid #FBF5EF;
  }
}

@keyframes blink {
  from {
    border-right: 0.2rem solid #32325D;
  }
  to {
    border-right: 0.2rem solid #FBF5EF;
  }
}

a, button {
  cursor: pointer;
}

.dropdown-arrow {
  height: 10px;
}

button {
  padding: 10px 20px;
  border: none;
}

a {
  color: inherit;
}

p {
  color: #5C6E88;
}

.sales-btn {
  color: #FFFFFF;
  background: #F64C72;
}

header {
  background: #F6F8FA;
}

nav {
  color: #32325D;
}

.dropdown-menu {
  -webkit-filter: drop-shadow(0px 0px 4px rgba(119, 136, 153, 0.2));
          filter: drop-shadow(0px 0px 4px rgba(119, 136, 153, 0.2));
}

.dropdown-menu .dropdown-content {
  background: #FFFFFF;
}

.dropdown-menu .dropdown-content a:hover, .dropdown-menu .dropdown-content a:active {
  color: #B395DB;
}

.jumbotron {
  background: #F6F8FA;
}

.title {
  color: #32325D;
}

.title > .cursor {
  border-right: 0.2rem solid #32325D;
}

.i-column {
  background: #F2F5F6;
}

footer {
  background: #031634;
}

p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
}

.sales-btn {
  font-size: 14px;
  font-weight: 400;
}

.nav-link {
  font-size: 14px;
}

.c-inner {
  font-size: 13px;
}

footer {
  font-size: 12px;
}

footer h5 {
  font-size: 12px;
}

footer p {
  font-size: 12px;
}

header {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
}

header nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo {
  margin-left: 80px;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 600;
}

header nav .nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: 20px;
}

header nav .nav-links-container .nav-link {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
  color: inherit;
  cursor: pointer;
}

header nav .nav-links-container .nav-link img {
  margin-left: 8px;
}

header nav .sales-btn {
  margin: 0 40px;
}

header nav .sales-btn:hover {
  background: lightseagreen;
}

header nav .burger__menu {
  display: none;
  outline: none;
}

header nav .menu__container {
  display: none;
  position: absolute;
  width: 100%;
  height: 93vh;
  top: 7vh;
  right: 0;
  background: white;
  z-index: 100;
  font-size: 14px;
}

header nav .menu__container .burger__item {
  width: 100%;
  height: 56px;
  padding: 0;
  text-align: left;
  text-indent: 20px;
  outline: none;
  color: #32325D;
  font-weight: 500;
}

header nav .menu__container .lvl1 {
  background: white;
  border-bottom: 1px solid #EAEFF2;
}

header nav .menu__container .lvl1:first-child {
  border-top: 1px solid #EAEFF2;
}

header nav .menu__container .lvl1:focus {
  background: #F6F8FA;
}

header nav .menu__container .lvl1-drop {
  display: none;
  width: 100%;
  height: auto;
}

header nav .menu__container .lvl1-drop .lvl2 {
  background: white;
  text-indent: 40px;
  font-weight: 600;
}

header nav .menu__container .lvl1-drop .lvl2-drop {
  display: none !important;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .menu__container .lvl1-drop .lvl2-drop .lvl3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  text-indent: 40px;
}

header nav .menu__container .lvl1-drop .lvl2-drop .lvl3 .lvl3__icon {
  width: 22px;
  height: 22px;
  margin-left: 40px;
  margin-right: 20px;
}

header nav .menu__container .lvl1-drop .lvl2-drop-active {
  display: block !important;
}

header nav .menu__container .lvl1-drop-active {
  display: block;
}

header nav .menu__container-active {
  display: block;
}

.header-scrolled {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 8px rgba(119, 136, 153, 0.2);
          box-shadow: 0 1px 8px rgba(119, 136, 153, 0.2);
}

.nav-white {
  background: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 42px;
  left: -10px;
}

.dropdown-menu .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 97%;
  margin-top: 10px;
  -webkit-clip-path: polygon(0% 10px, 40px 10px, 50px 0px, 60px 10px, 100% 10px, 100% 100%, 0% 100%);
  clip-path: polygon(0% 10px, 40px 10px, 50px 0px, 60px 10px, 100% 10px, 100% 100%, 0% 100%);
}

.dropdown-menu .dropdown-content .dc-sections {
  width: 100%;
  height: 97%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 77% 33%;
      grid-template-columns: 77% 33%;
}

.dropdown-menu .dropdown-content .dc-sections .c-column {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
}

.dropdown-menu .dropdown-content .dc-sections .c-column h4 {
  margin: 24px 0 0 24px;
}

.dropdown-menu .dropdown-content .dc-sections .c-column .c-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.dropdown-menu .dropdown-content .dc-sections .c-column .c-inner .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-menu .dropdown-content .dc-sections .c-column .c-inner .col a {
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-menu .dropdown-content .dc-sections .c-column .c-inner .col a .i {
  width: 26px;
  height: 26px;
  margin: 0;
  margin-right: 12px;
}

.dropdown-menu .dropdown-content .dc-sections .c-column .c-inner .col:first-child a {
  margin-left: 24px;
}

.dropdown-menu .dropdown-content .dc-sections .i-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-menu .dropdown-content .dc-sections .i-column a, .dropdown-menu .dropdown-content .dc-sections .i-column h4 {
  margin: 12px 40px;
}

.dropdown-menu .dropdown-content .dc-sections .i-column h4 {
  margin-top: 24px;
}

.dropdown-menu-capabilities {
  width: 760px;
  height: 280px;
}

@media (max-width: 1000px) {
  nav .logo {
    margin-left: 30px !important;
    font-size: 24px !important;
  }
  nav .nav-links-container {
    display: none !important;
  }
  nav .sales-btn {
    margin-right: 20px !important;
    margin-left: auto !important;
  }
  nav .burger__menu {
    margin: auto 20px auto 0px !important;
    display: block !important;
  }
}

footer {
  width: 100%;
  height: auto;
}

footer .container {
  width: 50%;
  height: 100%;
  margin: auto auto;
}

footer .container .sub-links {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .sub-links .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 10px;
}

footer .container .sub-links .list h5 {
  color: #5BC3C8;
}

footer .container .sub-links .list a {
  color: white;
  margin: 8px 0px;
}

footer .container .contact {
  width: 100%;
  padding-bottom: 20px;
  margin: 0 10px;
}

footer .container .contact h5 {
  color: #5BC3C8;
  margin: 10px 0;
}

footer .container .contact p {
  margin: 0;
  line-height: 24px;
}

footer .container .social-media {
  width: 100%;
  height: auto;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page {
  width: 100%;
}

.home-page .jumbotron {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.home-page .jumbotron .jumbotron-content-container {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .jumbotron .jumbotron-content-container .jumbotron-content {
  margin-left: 150px;
  width: 620px;
  height: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 8fr;
      grid-template-rows: 3fr 8fr;
}

.home-page .jumbotron .jumbotron-content-container .jumbotron-content .row1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-page .jumbotron .jumbotron-content-container .jumbotron-content .row1 .title {
  margin: 0;
  font-size: 56px;
  font-weight: bold;
}

.home-page .jumbotron .jumbotron-content-container .jumbotron-content .row2 {
  width: 100%;
  height: 100%;
}

.home-page .jumbotron .jumbotron-content-container .jumbotron-content .row2 p {
  margin: 0;
  margin-top: 28px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}

.home-page .jumbotron .particles-bg {
  width: 35%;
  height: 100%;
}

.home-page .jumbotron .particles-bg #particles-js {
  width: 100%;
  height: 100%;
}

.home-page .platform {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .platform .beige {
  background: #F6F8FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.home-page .platform .beige img {
  width: 100%;
}

.home-page .platform h1 {
  margin: 60px 20px;
  font-size: 32px;
  color: #32325D;
}

.home-page .platform .cards {
  width: 70%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 60px;
  margin-bottom: 60px;
}

.home-page .platform .cards .card {
  width: 480px;
  height: auto;
  margin: 40px 60px;
}

.home-page .platform .cards .card div {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-page .platform .cards .card div h3 {
  line-height: 0;
  color: #32325D;
}

.home-page .platform .cards .card div img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.home-page .platform .cards .card p {
  font-size: 14px;
  line-height: 28px;
}

.home-page .platform .cards .card a {
  font-size: 16px;
  color: #161AA8;
  font-weight: 500;
}

.home-page .infographics {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .infographics div {
  width: 75%;
  height: 80%;
  background: #F6F8FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .infographics div img {
  width: 55%;
}

.home-page .integrations {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.home-page .integrations .integrations-container {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .integrations .integrations-container h1 {
  font-size: 30px;
  color: #32325D;
  margin-bottom: 24px;
}

.home-page .integrations .integrations-container p {
  width: 700px;
  margin-top: 0;
  text-align: center;
}

.home-page .integrations .integrations-container .int-boxes-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-page .integrations .integrations-container .int-boxes-container .int__box {
  width: 220px;
  height: 130px;
  margin: 24px;
  -webkit-box-shadow: 0 0 8px #DCDDDE;
          box-shadow: 0 0 8px #DCDDDE;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .integrations .integrations-container .int-boxes-container .int__box img {
  width: 170px;
}

.request-demo {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
  position: relative;
}

.request-demo img {
  position: absolute;
  z-index: -10;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}

.request-demo .background {
  width: 100%;
  height: 52vh;
  position: absolute;
  z-index: -10;
  bottom: 0;
  background: #F6F8FA;
}

.request-demo .demo-container {
  width: 900px;
  height: 200px;
  background: white;
  -webkit-box-shadow: 0 0 8px rgba(220, 221, 222, 0.8);
          box-shadow: 0 0 8px rgba(220, 221, 222, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request-demo .demo-container h1 {
  color: #32325D;
  font-size: 28px;
  margin: 0;
}

.request-demo .demo-container a {
  background: #F64C72;
  color: white;
  padding: 12px 20px;
  font-size: 18px;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 8px rgba(220, 221, 222, 0.8);
          box-shadow: 0 0 8px rgba(220, 221, 222, 0.8);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.request-demo .demo-container a:hover {
  background: lightseagreen;
}

@media (max-width: 1730px) {
  .platform .cards {
    width: 95% !important;
    margin-left: 0px !important;
  }
}

@media (max-width: 1300px) {
  .platform .cards .card {
    width: 360px !important;
    margin: 40px 30px !important;
  }
  .platform .cards .card h3 {
    font-size: 18px !important;
  }
  .platform .cards .card img {
    width: 42px !important;
    height: 42px !important;
  }
}

@media (max-width: 900px) {
  .platform h1 {
    font-size: 24px !important;
  }
  .platform .cards .card {
    width: 95% !important;
    margin: 20px 30px !important;
  }
}

@media (max-width: 960px) {
  .jumbotron-content-container {
    width: 100% !important;
  }
  .jumbotron-content-container .jumbotron-content {
    margin: auto 40px !important;
  }
  .jumbotron-content-container .jumbotron-content .row1 .title {
    margin: 0;
    font-size: 28px !important;
    font-weight: bold;
  }
  .jumbotron-content-container .jumbotron-content .row2 p {
    margin: 0;
    margin-top: 28px;
    font-size: 14px !important;
    line-height: 32px;
  }
  .particles-bg {
    position: absolute;
    width: 100% !important;
    height: 100%;
    top: 0;
    right: 0;
    opacity: 0.2;
  }
  .integrations .integrations-container {
    width: 95% !important;
  }
  .integrations .integrations-container h1 {
    font-size: 22px !important;
    color: #32325D;
    margin-bottom: 24px;
  }
  .integrations .integrations-container p {
    width: 90% !important;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .platform .cards .card h3 {
    font-size: 16px !important;
  }
  .platform .cards .card img {
    width: 36px !important;
    height: 36px !important;
  }
  .platform .cards .card p {
    font-size: 12px !important;
    line-height: 24px !important;
  }
  .platform .cards .card a {
    font-size: 14px !important;
  }
  .integrations .integrations-container h1 {
    font-size: 18px !important;
    margin-bottom: 16px !important;
  }
  .integrations .integrations-container p {
    width: 90% !important;
    font-size: 12px !important;
    line-height: 24px;
  }
  .integrations .integrations-container .int__box {
    width: 120px !important;
    height: 80px !important;
    margin: 12px !important;
  }
  .integrations .integrations-container .int__box img {
    width: 100px !important;
  }
}

.body-smart-insights {
  width: 1200px;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-smart-insights .top {
  width: 90%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-smart-insights .top .text-content {
  width: 65%;
  height: auto;
}

.body-smart-insights .top .text-content h1 {
  font-size: 40px;
  font-weight: 800;
  color: #32325D;
  margin: 0;
  margin-bottom: 24px;
}

.body-smart-insights .top .text-content p {
  margin: 0;
  font-size: 18px;
}

.body-smart-insights .top img {
  width: 30%;
}

.body-smart-insights .bottom {
  width: 100%;
  height: auto;
  background: #F6F8FA;
  margin-bottom: 120px;
}

.body-smart-insights .bottom .bottom-content {
  margin: 120px auto;
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-smart-insights .bottom .bottom-content .point {
  width: 310px;
  height: auto;
}

.body-smart-insights .bottom .bottom-content .point img {
  width: 64px;
}

.body-smart-insights .bottom .bottom-content .point h4 {
  font-size: 16px;
  color: #32325D;
  line-height: 28px;
}

.body-smart-insights .bottom .bottom-content .point p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}

.body-smart-insights .other-capabilities {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-smart-insights .other-capabilities h1 {
  font-size: 32px;
  color: #32325D;
  margin-bottom: 40px;
}

.body-smart-insights .other-capabilities .squares-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.body-smart-insights .other-capabilities .squares-container .square:first-child {
  background: #F6F8FA;
}

.body-smart-insights .other-capabilities .squares-container .square:nth-child(2) {
  background: #F6F8FA;
}

.body-smart-insights .other-capabilities .squares-container .square:nth-child(3) {
  background: #F6F8FA;
}

.body-smart-insights .other-capabilities .squares-container .square:last-child {
  background: #F6F8FA;
}

.body-smart-insights .other-capabilities .squares-container .square {
  width: 280px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  text-align: center;
  background: white;
  cursor: pointer;
}

.body-smart-insights .other-capabilities .squares-container .square img {
  width: 50px;
  height: 50px;
}

.body-smart-insights .other-capabilities .squares-container .square h1 {
  font-size: 16px;
  margin: 30px 8px 0 8px;
}

.body-smart-insights .other-capabilities .squares-container .square:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 0 8px #DCDDDE;
          box-shadow: 0 0 8px #DCDDDE;
  background: white;
}

@media (max-width: 1300px) {
  .body-smart-insights {
    width: 95% !important;
  }
  .body-smart-insights .bottom .bottom-content {
    width: 100%;
  }
  .body-smart-insights .bottom .bottom-content .point {
    margin: 0 20px;
  }
}

@media (max-width: 920px) {
  .body-smart-insights .top .text-content h1 {
    font-size: 26px;
    margin-bottom: 24px;
  }
  .body-smart-insights .top .text-content p {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
  }
  .body-smart-insights .bottom .bottom-content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .body-smart-insights .bottom .bottom-content .point {
    width: 95% !important;
  }
  .body-smart-insights .bottom .bottom-content .point img {
    width: 48px;
    margin-bottom: 0;
  }
  .body-smart-insights .bottom .bottom-content .point h4 {
    font-size: 14px;
    color: #32325D;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .body-smart-insights .bottom .bottom-content .point p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .body-smart-insights .other-capabilities h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .body-smart-insights .other-capabilities .squares-container .square {
    width: 300px;
    height: 160px;
  }
  .body-smart-insights .other-capabilities .squares-container .square img {
    width: 50px;
    height: 50px;
  }
  .body-smart-insights .other-capabilities .squares-container .square h1 {
    font-size: 14px;
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .body-smart-insights .other-capabilities h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .body-smart-insights .other-capabilities .squares-container .square {
    width: 200px;
    height: 100px;
  }
  .body-smart-insights .other-capabilities .squares-container .square img {
    width: 35px;
    height: 35px;
  }
  .body-smart-insights .other-capabilities .squares-container .square h1 {
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (max-width: 440px) {
  .body-smart-insights .other-capabilities h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .body-smart-insights .other-capabilities .squares-container {
    width: 300px;
  }
  .body-smart-insights .other-capabilities .squares-container .square {
    width: 150px;
    height: 100px;
  }
  .body-smart-insights .other-capabilities .squares-container .square img {
    width: 30px;
    height: 30px;
  }
  .body-smart-insights .other-capabilities .squares-container .square h1 {
    font-size: 11px;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */