.body-smart-insights {
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top {
        width: 90%;
        height: 50vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .text-content {
            width: 65%;
            height: auto;
            h1 {
                font-size: 40px;
                font-weight: 800;
                color: $spaceCadet;
                margin: 0;
                margin-bottom: 24px;
            }
            p {
                margin: 0;
                font-size: 18px;
            }
        }
        img {
            width: 30%;
        }
    }
    .bottom {
        width: 100%;
        height: auto;
        background: #F6F8FA;
        margin-bottom: 120px;
        .bottom-content {
            margin: 120px auto;
            width: 90%;
            height: auto;
            display: flex;
            justify-content: space-between;;
            .point {
                width: 310px;
                height: auto;
                img {
                    width: 64px;
                }
                h4 {
                    font-size: 16px;
                    color: $spaceCadet;
                    line-height: 28px;
                    
                }

                p {
                    font-size: 15px;
                    line-height: 28px;
                    font-weight: 400;
                }
            }
        }
    }
    .other-capabilities {
        width: 100%;
        height: auto;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            font-size: 32px;
            color: $spaceCadet;
            margin-bottom: 40px;
        }
        .squares-container {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            .square:first-child {  
                background: #F6F8FA;
            }
            .square:nth-child(2) {
                
                background: #F6F8FA;
            }
            .square:nth-child(3) {
                
                background: #F6F8FA;
            }
            .square:last-child {
                
                background: #F6F8FA;
            }
            .square {
                width: 280px;
                height: 160px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 10px;
                text-align: center;
                background: white;
                cursor: pointer;
                img {
                    width: 50px;
                    height: 50px;
                }
                h1 {
                    font-size: 16px;
                    margin: 30px 8px 0 8px;
                }
            }
            .square:hover {
                transform: scale(1.05);
                transition: 0.3s ease;
                box-shadow: 0 0 8px #DCDDDE;
                background: white;
            }
        }
    }
}

@media (max-width: 1300px) {
    .body-smart-insights {
        width: 95% !important;
        .bottom {
            .bottom-content {
                width: 100%;
                .point {
                    margin: 0 20px;
                }
            }
        }
    }
}



@media (max-width: 920px) {
    .body-smart-insights {
        .top {
            .text-content {
                h1 {
                    font-size: 26px;
                    margin-bottom: 24px;
                }
                p {
                    margin: 0;
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
        .bottom {
            .bottom-content {
                flex-direction: column !important;
                align-items: center !important;
                justify-content: flex-start !important;
                .point {
                    width: 90% !important;
                    img {
                        width: 48px;
                        margin-bottom: 0;
                    }
                    h4 {
                        font-size: 14px;
                        color: $spaceCadet;
                        line-height: 24px;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
    
                    p {
                        font-size: 12px;
                        line-height: 24px;
                        font-weight: 400;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .other-capabilities {
            h1 {
                font-size: 20px;           
                margin-bottom: 20px;
            }
            .squares-container {
                .square {
                    width: 300px;
                    height: 160px;
                    img {
                        width: 50px;
                        height: 50px;
                    }
                    h1 {
                        font-size: 14px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .body-smart-insights { 
        .other-capabilities {
            h1 {
                font-size: 20px;           
                margin-bottom: 20px;
            }
            .squares-container {         
                .square {
                    width: 200px !important;
                    height: 100px !important;
                    img {
                        width: 35px !important;
                        height: 35px !important;
                    }
                    h1 {
                        font-size: 14px !important;
                        margin-top: 10px !important;
                    }
                }
            }
        }
    }  
}

@media (max-width: 440px) {
    .body-smart-insights { 
        .other-capabilities {
            h1 {
                font-size: 20px;           
                margin-bottom: 20px;
            }
            .squares-container {
                width: 300px !important;           
                .square {
                    width: 150px !important;
                    height: 100px !important;
                    img {
                        width: 30px !important;
                        height: 30px !important;
                    }
                    h1 {
                        font-size: 11px !important;
                        margin-top: 10px !important;
                    }
                }
            }
        }
    }  
}

@media (max-width: 415px) {
    .body-smart-insights {
        .top {
            .text-content {
                h1 {
                    font-size: 22px !important;
                    margin-bottom: 24px !important;
                }
                p {
                    margin: 0 !important;
                    font-size: 12px !important;
                    line-height: 24px !important;
                }
            }
        }
        .bottom {
            .bottom-content {
                flex-direction: column !important;

                .point {
                    width: 95% !important;
                    img {
                        width: 48px;
                        margin-bottom: 0;
                    }
                    h4 {
                        font-size: 14px;
                        color: $spaceCadet;
                        line-height: 24px;
                        margin-bottom: 0;
                        margin-top: 10px;
                    }
    
                    p {
                        font-size: 12px !important;
                        line-height: 24px;
                        font-weight: 400;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .other-capabilities {
            margin-bottom: 20px !important;
            h1 {
                font-size: 20px;           
                margin-bottom: 20px !important;
            }
            .squares-container {
                width: 100% !important;
                .square {
                    width: 150px !important;
                    height: 100px !important;
                    img {
                        width: 30px !important;
                        height: 30px !important;
                    }
                    h1 {
                        font-size: 11px !important;
                        margin-top: 10px !important;
                    }
                }
            }
        }
    }
}
